.metki {
	border-radius: 20%;
	filter: drop-shadow(2px 2px 2px #2E2E2E); 
	width:42px;
	position:absolute;
	height:auto;
}
#metka1 {
	left:85px;
	top:304px;
	z-index:4;

}
#metka2 {
	left:74px;
	top:366px;
	z-index:4;

}
#metka3 {
	left:50px;
	top:410px;
	z-index:6;

}
#metka4 {
	left:329px;
	top:490px;
	z-index:5;

}
#metka5 {
	left:202px;
	top:432px;
	z-index:3;

}
#metka6 {
	left:121px;
	top:439px;
	z-index:6;

}
#metka7 {
	left:394px;
	top:481px;
	z-index:2;

}
#metka8 {
	left:132px;
	top:412px;
	z-index:5;

}
#metka9 {
	left:334px;
	top:462px;
	z-index:1;

}
#metka10 {
	left:109px;
	top:385px;
	z-index:4;

}
#metka11 {
	left:185px;
	top:405px;
	z-index:2;

}
#metka12 {
	left:114px;
	top:431px;
	z-index:5;

}
#metka13 {
	left:685px;
	top:457px;

}
#metka14 {
	left:700px;
	top:516px;

}
#metka15 {
	left:97px;
	top:353px;
	z-index:3;

}
#metka16 {
	left:-8px;
	top:284px;
	z-index:5;

}
#metka17 {
	left:152px;
	top:380px;
	z-index:1;

}
#metka18 {
	left:163px;
	top:442px;
	z-index:6;

}
#metka19 {
	left:71px;
	top:346px;

}
#metka20 {
	left:172px;
	top:465px;
	z-index:6;

}
#metka21 {
	left:340px;
	top:470px;
	z-index:4;

}