#rostelecom {
	text-align:center;
	position:relative;
	width:100%;
	top:80px;
	left:0%;
	height:350px;
}
#dataline {
	text-align:center;
	position:relative;
	width:100%;
	top:-40px;
	left:0%;
	height:20px;
} 
#datapro {
	text-align:center;
	position:relative;
	width:100%;
	top:145px;
	left:0%;
	height:200px;
} 
#linx {
	text-align:center;
	position:relative;
	width:100%;
	top:-10px;
	left:0%;
	height:130px;

} 
#selectel {
	text-align:center;
	position:relative;
	width:100%;
	top:75px;
	left:0%;
	height:160px;
}
#stackgroup {
	text-align:center;
	position:relative;
	width:100%;
	top:75px;
	left:0%;
	height:120px;
}
#ai-teko {
	text-align:center;
	position:relative;
	width:100%;
	top:130px;
	left:0%;
	height:220px;
}
#dataspace {
	text-align:center;
	position:relative;
	width:100%;
	top:100px;
	left:0%;
	height:190px;
}
#xelent {
	text-align:center;
	position:relative;
	width:100%;
	top:-40px;
	left:0%;
	height:60px;
} 
#kkrok {
	text-align:center;
	position:relative;
	width:100%;
	top:30px;
	left:0%;
	height:130px;
}
#ixcellerate {
	text-align:center;
	position:relative;
	width:100%;
	top:-40px;
	left:0%;
	height:40px;
} 
#carravan {
	text-align:center;
	position:relative;
	width:100%;
	top:130px;
	left:0%;
	height:200px;
}
#oxygen {
	text-align:center;
	position:relative;
	width:100%;
	top:90px;
	left:0%;
	height:170px;
}
#electrmosk {
	text-align:center;
	position:relative;
	width:100%;
	top:80px;
	left:0%;
	height:170px;
}
#park-it {
	text-align:center;
	position:relative;
	width:100%;
	top:-40px;
	left:0%;
	height:30px;
} 